<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="d-flex flex-wrap flex-row m-2 justify-content-around">
    <div class="col-2 align-items-center text-center text-break">
        <a href=""><i class="fas fa-flask p-2 icons btn"></i></a>
        <p>Chemistry</p>
    </div>
    <div class="col-2 align-items-center text-center text-break">
        <a href=""><i class="fas fa-atom p-2 icons btn"></i></a>
        <p>Physics</p>
    </div>
    <div class="col-2 align-items-center text-center text-break">
        <a href=""><i class="fas fa-balance-scale p-2 icons btn"></i></a>
        <p>Law</p>
    </div>
    <div class="col-2 align-items-center text-center text-break">
        <a href=""><i class="fas fa-terminal p-2 icons btn"></i></a>
        <p>Computer Science</p>
    </div>
    <div class="col-2 align-items-center text-center text-break">
        <a href=""><i class="fas fa-dna p-2 icons btn"></i></a>
        <p>Biology</p>
    </div>
</div>
<div class="d-flex flex-wrap flex-row m-2 justify-content-around">
    <div class="col-2 align-items-center text-center text-break">
        <a href=""><i class="fas fa-hand-holding-usd p-2 icons btn"></i></a>
        <p>Finance</p>
    </div>
    <div class="col-2 align-items-center text-center text-break">
        <a href=""><i class="fas fa-square-root-alt p-2 icons btn"></i></a>
        <p>Mathematics</p>
    </div>
    <div class="col-2 align-items-center text-center text-break">
        <a href=""><i class="fas fa-pills p-2 icons btn"></i></a>
        <p>Pharmaceutical Science</p>
    </div>
    <div class="col-2 align-items-center text-center text-break">
        <a href=""><i class="fas fa-globe-americas p-2 icons btn"></i></a>
        <p>Geography</p>
    </div>
    <div class="col-2 align-items-center text-center text-break">
        <a href=""><i class="fas fa-landmark p-2 icons btn"></i></a>
        <p>History</p>
    </div>
</div>