@model Entities.InterjectionDTO.EmailConfirmedDTO

@{
    Layout = null;
}

<head>

    <meta name="viewport" content="width=device-width" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <title>Index</title>

</head>
<form id="frmCreatePosting" asp-action="EmailCodeControl" asp-controller="MyAccount" metod="post" data-ajax-success="OnSuccess" data-ajax="true" enctype="multipart/form-data">

    @*<div>
        <input id="txtId" type="hidden" asp-for="Id" value="@Model.Id">
    </div>*@
    <div class="form-group">

        <input id="EmailConfirmedCode" asp-for="EmailConfirmedCode" class="form-control" type="text" /><br><br>
    </div>

    <button>DOGRULA</button>

</form>

<button class="btn" type="button" onclick="onConfirmedMail()">yenicodiste</button>

<script type="text/javascript">

      var OnSuccess = function (response) {
        alert("Success: " + response.success + " Messajınız:" + response.message +"Yönlendiriliyorsunuz...");
                     window.location.href = "@Url.Action("Index", "HomePage")";

    };


    function onConfirmedMail() {
        $.ajax({
            url: "@Url.Action("EmailCode", "MyAccount")",
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                alert(response.message);

            },
        })
    }

    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("EmailCode", "MyAccount")",
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                alert(response.message);


            },
        })
    })




</script>
